    /* Define background with gradient and some styles for the container */
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        background: linear-gradient(135deg, #2c3e50, #4ca1af);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    .login-container {
        background: rgba(0, 0, 0, 0.5);
        padding: 2rem; /* Adjust padding for spacing */
        border-radius: 0.625rem;
        box-shadow: 0px 0.25rem 0.9375rem rgba(0, 0, 0, 0.3);
        text-align: center;
        width: 20rem; /* Adjust width as needed */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-container h1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }

    .input-container {
        position: relative;
        margin-bottom: 1.5rem;
        width: 100%; /* Ensure input containers take full width */
    }

    .input-container input {
        width: 100%;
        padding: 0.9375rem;
        border: none;
        border-radius: 0.3125rem;
        background: rgba(255, 255, 255, 0.1);
        color: #fff;
        font-size: 1rem;
    }

    .input-container input::placeholder {
        color: rgba(255, 255, 255, 0.7);
    }

    .input-container input:focus {
        outline: none;
        background: rgba(255, 255, 255, 0.2);
    }

    .login-button {
        background: linear-gradient(135deg, #ff416c, #ff4b2b);
        border: none;
        border-radius: 0.3125rem;
        padding: 0.9375rem;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        width: 100%;
        margin-top: 1.25rem;
        transition: background 0.3s ease;
    }

    .login-button:hover {
        background: linear-gradient(35deg, #ff4b2b, #ff416c);
    }

    .social-icons {
        margin-top: 1.875rem;
        display: flex;
        justify-content: center;
    }

    .social-icons a {
        color: #fff;
        margin: 0 0.625rem;
        font-size: 1.5rem;
        transition: color 0.3s ease;
    }

    .social-icons a:hover {
        color: #ff416c;
    }
